@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    scroll-padding-top: 5rem; /* Offset for fixed header */
  }
  body {
    @apply bg-background text-primary font-sans antialiased;
  }
}